#create-candidate-button {
	background: transparent;
	color: white;
	border: 0;
	font: inherit;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}

.no-candidates {
	font-size: 2em;
	font-weight: 900;
	opacity: 0.7;
	text-align: center;
	margin-top: 64px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.no-candidates:last-of-type {
	margin-top: 32px;
	font-size: 6em;
	letter-spacing: 2px;
	opacity: 0.3;
}
#create-candidate-modal,
#edit-candidate-modal {
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
}
#create-candidate-modal.show,
#edit-candidate-modal.show {opacity: 1; pointer-events: all;}
