#create-position-modal,
#edit-position-modal,
#view-candidates-modal {
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
}
#create-position-modal.show,
#edit-position-modal.show,
#view-candidates-modal.show {opacity: 1; pointer-events: all;}

.no-positions {
	font-size: 2em;
	font-weight: 900;
	opacity: 0.7;
	text-align: center;
	margin-top: 64px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.no-positions:last-of-type {
	margin-top: 32px;
	font-size: 6em;
	letter-spacing: 2px;
	opacity: 0.3;
}

#view-candidates-table {
	min-width: 100%;
	width: 80vw;
	border-collapse: collapse;
	border: 1px solid black;
}
#view-candidates-table th {
	border-bottom: 1px solid black;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
#view-candidates-table th:first-child {
	width: 36px;
	box-sizing: border-box;
}
#view-candidates-table th,
#view-candidates-table td {
	padding: 8px;
	border-right: 1px dotted rgba(0,0,0,0.15);
}
#view-candidates-table tbody tr:nth-child(1) td:first-child {
	text-align: center;
}
#view-candidates-table tbody tr:nth-child(1) td:first-child::before {
	content: "star";
	font-family: 'Material Icons';
	font-size: 20px;
	color: #FC5C7D;
}
#view-candidates-table tbody tr:nth-child(2n-1) td {
	background: rgba(0,0,0,0.05);
}

#view-candidates-position-name {
	display: inline-block;
}