h2 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 300;
	margin-bottom: 8px;
}
.results-table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
}
.results-table td,
.results-table th {
	border-left: 1px solid black;
	border-bottom: 1px dotted rgba(0,0,0,0.15);
	padding: 8px;
	position: relative;
}
.results-table th:first-child {
	background: rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.results-table tbody tr:last-child th:first-child {
	border-bottom: 1px solid black;
}
#title-row {
	flex: 0 0 100% !important;
	padding: 16px;
	box-sizing: border-box;
}
#content {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 16px;
}

#content > :not(#title-row) {
	margin: 0 16px 32px;
	box-sizing: border-box;
	flex: 1 0 auto;
}
#search {
	flex: 0 0 calc(100% - 32px) !important;
	padding: 0 !important;
}
#search #searchbox {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
	font: inherit;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
}
#search #searchbox::placeholder {
	color: rgba(0,0,0,0.2)
}
#searchbox::-webkit-calendar-picker-indicator {
  display: none;
}