<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Registrations Open | Student Elections</title>
	{{> clientImports}}	
	<link rel="stylesheet" type="text/css" href="./css/registrations.css">
</head>
<body>
	<div id="container">
		<div id="full-center">
			<img src="logo.png" id="logo" width="120">
			<h2>Student Council Elections</h2>
			<h1>Registrations Open</h1>
			<button>Nominate Yourself</button>
		</div>
	</div>
</body>
</html>
