<!DOCTYPE html>
<html>
<head>
	<title>Candidates | Student Elections</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Material+Icons" rel="stylesheet">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" integrity="sha256-YFhaeQSVBgAFNN5z4I9YRB2jCuqc2nvypz0Q2eQzcx8=" crossorigin="anonymous"></script>

	<script defer src="candidates.js"></script>
	<link rel="stylesheet" type="text/css" href="candidates.css">
	<link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
	<div id="sidebar">
		<div id="sidebar-title">Student Elections</div>
		<a class="current" href="./candidates">Candidates</a>
		<a href="./positions">Positions</a>
		<a href="./students">Students</a>
		<a href="./results">Results</a>
		<a href="./import">Import/Export</a>
		<div id="sidebar-spacer"></div>
		<a href="../">Back</a>
	</div>
	<div id="content">
		<div id="title-row">
			<div id="page-title">Candidates</div>
			<div class="spacer"></div>
			<button id="create-candidate-button">Create<br>New</button>
		</div>
		<div>
			<table id="candidates-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Grade</th>
						<th>Section</th>
						<th>House</th>
						<th class="nosort">Actions</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div id="create-candidate-modal">
		<div class="modal-background"></div>
		<div class="modal-window">
			<div class="modal-header">Create Candidate</div>
			<div class="modal-content">
				<input required id="new-candidate-name" type="text" placeholder="Name">
				<input required id="new-candidate-grade" type="number" min="1" max="12" placeholder="Grade">
				<input required
				list="section-datalist"
				id="new-candidate-section"
				type="text"
				placeholder="Section">
				<input required
				list="house-datalist"
				id="new-candidate-house"
				type="text"
				placeholder="House">
				<input required id="new-candidate-image" type="file">

				<datalist id="section-datalist">
					<option>Beta</option>
					<option>Gamma</option>
					<option>Delta</option>
				</datalist>
				<datalist id="house-datalist">
					<option>Poseidon</option>
					<option>Phoenix</option>
					<option>Hercules</option>
					<option>Caesar</option>
				</datalist>
			</div>
			<div class="modal-footer">
				<button id="new-candidate-cancel-button">Cancel</button>
				<button class="primary" id="new-candidate-save-button">Save</button>
			</div>	
		</div>
	</div>

	<div id="edit-candidate-modal">
		<div class="modal-background"></div>

		<div class="modal-window">
			<div class="modal-header">Edit Candidate</div>
			<div class="modal-content">
				<input id="edit-candidate-name" type="text" placeholder="Name">
				<input id="edit-candidate-grade" type="number" min="1" max="12" placeholder="Grade">
				<input
				list="section-datalist"
				id="edit-candidate-section"
				type="text"
				placeholder="Section">
				<input
				list="house-datalist"
				id="edit-candidate-house"
				type="text"
				placeholder="House">
				<input id="edit-candidate-image" type="file">
			</div>
			<div class="modal-footer">
				<button id="edit-candidate-cancel-button">Cancel</button>
				<button class="primary" id="edit-candidate-save-button">Save</button>
			</div>	
		</div>
	</div>
</body>
</html>