<!DOCTYPE html>
<html>
<head>
	<title>Import/Export | Student Elections</title>

	{{> imports}}

	<link rel="stylesheet" type="text/css" href="import.css">
	<script src="import.js" defer></script>
</head>
<body>
	{{> sidebar}}
	<div id="content">
		<div id="title-row">
			<div id="page-title">Import/Export</div>
			<div class="spacer"></div>
			<a href="downloads/Election Format.zip" download>Download<br>Format</a>
		</div>
		<div>
			<h2>Import</h2>
			Download the format files, fill them out, then upload them here.<br>
			<b>WARNING:</b> This will clear all existing entries.
			<table class="files-table">
				<tr>
					<td>Positions</td>
					<td><input type="file" id="positions-file" /></td>
				</tr>
				<tr>
					<td>Students</td>
					<td><input type="file" id="students-file" /></td>
				</tr>
				<tr>
					<td>Teachers</td>
					<td><input type="file" id="teachers-file" /></td>
				</tr>
				<tr>
					<td>Management</td>
					<td><input type="file" id="management-file" /></td>
				</tr>
				<tr>
					<td colspan="3">
						<button id="upload-button">Reset and Upload</button>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<h2>Export</h2>
			Download the generated pins for the users.
			<table class="files-table">
				<tr>
					<td>Students</td>
					<td><a href="downloads/pins/student.csv">Download</a></td>
				</tr>
				<tr>
					<td>Teachers</td>
					<td><a href="downloads/pins/teacher.csv">Download</a></td>
				</tr>
				<tr>
					<td>Management</td>
					<td><a href="downloads/pins/management.csv">Download</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>