<!DOCTYPE html>
<html>
<head>
	<title>Management | Student Elections</title>

	{{> imports}}

	<script defer src="management.js"></script>
	<link rel="stylesheet" type="text/css" href="management.css">
</head>
<body>
	{{> sidebar}}	
	<div id="content">
		<div id="title-row">
			<div id="page-title">Management</div>
			<div class="spacer"></div>
			<button id="create-management-button">Create<br>New</button>
		</div>
		<div>
			<table id="management-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Pin</th>
						<th>Used</th>
						<th>Voted</th>
						<th class="nosort">Actions</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div id="new-management-modal" style="display: none;">
		<div class="modal-background"></div>
		<div class="modal-window">
			<div class="modal-header">Create management</div>
			<div class="modal-content">
				<input required id="new-management-name" type="text" placeholder="Name">
			</div>
			<div class="modal-footer">
				<button id="new-management-cancel-button">Cancel</button>
				<button class="primary" id="new-management-save-button">Save</button>
			</div>	
		</div>
	</div>

	<div id="edit-management-modal" style="display: none;">
		<div class="modal-background"></div>

		<div class="modal-window">
			<div class="modal-header">Edit management</div>
			<div class="modal-content">
				<input id="edit-management-name" type="text" placeholder="Name">
			</div>
			<div class="modal-footer">
				<button id="edit-management-cancel-button">Cancel</button>
				<button class="primary" id="edit-management-save-button">Save</button>
			</div>	
		</div>
	</div>
</body>
</html>