<!DOCTYPE html>
<html>
<head>
	<title>Teachers | Student Elections</title>

	{{> imports}}

	<script defer src="teachers.js"></script>
	<link rel="stylesheet" type="text/css" href="teachers.css">
</head>
<body>
	{{> sidebar}}
	<div id="content">
		<div id="title-row">
			<div id="page-title">Teachers</div>
			<div class="spacer"></div>
			<button id="create-teacher-button">Create<br>New</button>
		</div>
		<div>
			<table id="teachers-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Pin</th>
						<th>House</th>
						<th>Used</th>
						<th>Voted</th>
						<th class="nosort">Actions</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<datalist id="house-datalist">
		<option>Poseidon</option>
		<option>Phoenix</option>
		<option>Hercules</option>
		<option>Caesar</option>
	</datalist>
	<div id="new-teacher-modal" style="display: none;">
		<div class="modal-background"></div>
		<div class="modal-window">
			<div class="modal-header">Create Teacher</div>
			<div class="modal-content">
				<input required id="new-teacher-name" type="text" placeholder="Name">
				<input required
				list="house-datalist"
				id="new-teacher-house"
				type="text"
				placeholder="House">
			</div>
			<div class="modal-footer">
				<button id="new-teacher-cancel-button">Cancel</button>
				<button class="primary" id="new-teacher-save-button">Save</button>
			</div>	
		</div>
	</div>

	<div id="edit-teacher-modal" style="display: none;">
		<div class="modal-background"></div>

		<div class="modal-window">
			<div class="modal-header">Edit Teacher</div>
			<div class="modal-content">
				<input id="edit-teacher-name" type="text" placeholder="Name">
				<input
				list="house-datalist"
				id="edit-teacher-house"
				type="text"
				placeholder="House">
			</div>
			<div class="modal-footer">
				<button id="edit-teacher-cancel-button">Cancel</button>
				<button class="primary" id="edit-teacher-save-button">Save</button>
			</div>	
		</div>
	</div>
</body>
</html>